.container
  %section.container
    %header

  %section.container.row
    .container
    -if logged_in? && current_user.discussions.count > 0
      .col-lg-8.col-md-12.col-sm-12
        =render @posts, page: 'portal'
        =link_to_previous_page @posts, 'Previous'
        =link_to_next_page @posts, 'Next'
        -#-if more_pages(params[:offset])
          -#=link_to "next page", root_path(offset: offset_calculate(params[:offset]))
      .col-lg-4.fixed.hidden-md.hidden-xs.hidden-sm
        .row.well
          %h4.header-bottom-padding.text-center My Threads
          -@discussions.each do |discussion|
            .span8
              =link_to thread_path(discussion) do
                %button.btn.btn-default.btn-md.btn-block #{ discussion.name }
        
        -if @recent_discussions
          .row.well
            %h4.header-bottom-padding.text-center  Recent Activity
            -@recent_discussions.each do |discussion|
              .span8
                =link_to thread_path(discussion) do
                  %button.btn.btn-default.btn-md.btn-block 
                    =discussion.name 
                    -if discussion.last_post_author
                      %small.text-muted by #{ discussion.last_post_author.name }
                    %small.text-muted, #{ time_ago_in_words discussion.last_updated } ago
    -else
      .span8.well
        %h2.text-center You haven't joined any threads yet!
      .span8.well
        %h3.header-bottom-padding.text-center  Recent Activity
        -@recent_discussions.each do |discussion|
          .span8
            =link_to thread_path(discussion) do
              %button.btn.btn-default.btn-lg.btn-block 
                =discussion.name 
                -if discussion.last_post_author
                  %small.text-muted by #{ discussion.last_post_author.name }
                %small.text-muted, #{ time_ago_in_words discussion.last_updated } ago
      %br
%script
  $('.infinite-scroll').jscroll();
