.container
  %section.container.row
    .col-md-4.well
      %h3.row 
        .col-md-7
          #{ @user.name }
        .col-md-1
        .col-md-3
          -unless is_friend?(params[:id])
            =link_to friendships_path(friend_id: params[:id]), method: :post do
              %button.btn.btn-sm.btn-default
                Add Friend
          -else
            =link_to friendship_path(@user), method: :delete do
              %button.btn.btn-sm.btn-default
                Remove Friend
      %em #{ @user.bio }
      %br
      %br
      %p Joined Garp on #{ clean_time(@user.created_at) }
      %p Total posts: #{ @user.posts.count} 
    .col-md-8
      .well
        %h4 #{ @user.name }'s Recent Posts
      =render @posts, page: 'user_profile'
      =link_to_previous_page @posts, 'Previous'
      =link_to_next_page @posts, 'Next'

