.navbar.navbar-default.navbar-fixed-top
  .container
    .col-md-2.navbar-header
      = link_to "GARP", root_path, class: 'navbar-brand'
    %ul.col-md-4.clearfix.nav.navbar-nav
      -if logged_in?
        %li= link_to "Friends"

        %li= link_to "Threads", discussions_path

      -else
        %li= link_to "Register", register_path
        %li= link_to "Sign In", login_path
    -if logged_in?
      #user_links.pull-right
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              Welcome, #{ current_user.name }
              %span.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                =link_to "Account"
              %li
                =link_to "Plan and Billing"
              %li
                =link_to "Sign Out", logout_path

