.div.span8.well
  -if current_user.created_post?(post.id)
    =link_to discussion_post_path(post.discussion, post), method: :delete, data: { confirm: "Are you sure?" },  class:'remove-link-color' do
      %span.glyphicon.glyphicon-remove.pull-right
  
  %h3
    =post.title
    - if page == 'portal'
      %small in 
      =link_to post.discussion do
        %small #{ post.discussion.name }
  -#%span in
  
  %div
    =link_to post.user.name, user_path(post.user)
    %span  #{ post.clean_time}
  %br
  %p.lead #{post.body}
  -if post.body
    %br
    %br
  -#=render 'comments/_comment',  post.comments
  -unless page == 'user_profile'
    = bootstrap_form_for @comment, url: discussion_post_comments_path( post.discussion, post, @comment) do |f|
      -f.text_field :body, placeholder:"enter comment here" , hide_label: true 
    .list-group
      -post.comments.each do |comment| 
        .list-group-item 
          =link_to comment.user.name
          %span.list-group-item-text #{comment.body} 
          %div
            %small #{time_ago_in_words comment.created_at }
