.div.span8.well
  -if current_user.created_post?(post.id)
    =link_to group_post_path(post.group, post), method: :delete, data: { confirm: "Are you sure?" },  class:'remove-link-color' do
      %span.glyphicon.glyphicon-remove.pull-right
  %h3
    =post.title
    - if portal
      %small in 
      =link_to post.group do
        %small #{ post.group.name }
  -#%span in
  
  %div
    =link_to post.user.name
    %span  #{ post.clean_time}
  %br
  %p.lead #{post.body}
  -if post.body
    %br
    %br
  -#=render 'comments/_comment',  post.comments
  = bootstrap_form_for @comment, url: group_post_comments_path( post.group, post, @comment) do |f|
    -f.text_field :body, placeholder:"enter comment here" , hide_label: true 
  .list-group
    -post.comments.each do |comment| 
      .list-group-item 
        =link_to comment.user.name
        %span.list-group-item-text #{comment.body} 
        %div
          %small #{time_ago_in_words comment.created_at }
