.div.span10.well
  -if current_user && current_user.created_post?(post.id)
    =link_to post_path(post), method: :delete, data: { confirm: "Are you sure?" },  class:'remove-link-color' do
      %span.glyphicon.glyphicon-remove.pull-right
  
  %h3
    =post.title
    - if page == 'portal' || page == 'user_profile'
      %small in 
      =link_to thread_path post.discussion do
        %small #{ post.discussion.name }
  -#%span in
  
  %div
    -if page =='user_profile'
      %span #{ post.user.name }
    -else
      =link_to post.user.name, user_path(post.user)
    %span, on  #{ clean_time(post.created_at) }
  %br
  %p.lead #{post.body_html}
  -if logged_in?
    =react_component('LikeContainer', id: post.id, type:'Post', url: post_like_path(post), liked: current_user.likes?(post), likers: post.likers)
    %br
  -unless page == 'user_profile'
    .list-group
      -post.comments.each do |comment| 
        .list-group-item 
          -if current_user && current_user.created_comment?(comment.id)
            =link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" },  class:'remove-link-color' do
              %span.glyphicon.glyphicon-remove.pull-right
          =link_to comment.user.name, comment.user
          %span.list-group-item-text #{comment.body_html} 
          =react_component('LikeContainer', id: comment.id, type:'Comment', url: comment_like_path(comment), liked: current_user.likes?(comment), likers: comment.likers)
          %div
            %small #{time_ago_in_words comment.created_at }
    -if logged_in?
      = bootstrap_form_for [post, @comment] do |f|
        -f.text_area :body, placeholder:"enter comment here" , hide_label: true, :autocomplete => :off, class: 'comment-box'

%script
  $(document).ready(function() { $('.comment-box').autoGrow().shiftenter({hint: ""}); });
